asn1crypto
blinker
Certifi
Cffi
Chardet
charset-normalizer
Click
Cryptography
Cython
Enum34
Flask
Flask-SQLAlchemy
Flask-WTF
Greenlet
Idna
importlib-metadata
Ipaddress
Itsdangerous
Jinja2
Joblib
MarkupSafe
Numpy
Pandas
Pip
PlanOut
Pycparser
PyMySQL
python-dateutil
Pytz==2024.1
Requests==2.31.0
scikit-surprise==1.1.3
Scipy==1.10.1
Setuptools==68.2.2
Six==1.16.0
SQLAlchemy==2.0.25
SQLAlchemy-Utils==0.41.1
Surprise==0.1
typing_extensions==4.9.0
Tzdata==2023.4
Urllib3==2.2.0
websocket-client==1.7.0
Werkzeug==3.0.1
Wheel==0.41.2
WTForms==3.1.2
Zipp==3.17.0
